<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    
    <form action="/comment/<%=comments.id%>/edit" method="POST" class="update">
        <div class="update-box">
            <legend class="lege">Update Comment Form </legend>
            <textarea name="content" id="" cols="30" rows="10"><%=comments.content%></textarea>
            <input class="update-input" type="submit" value="Add Comments">
        </div>
        
    </form>
</body>
</html>