<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Charis+SIL:ital@1&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <h1 class="h1">
            Book Store App
  
        </h1>
      <div class="box">

        <a class="add" href="/books/new"> Add</a>
        <a class="Title" href="/books "> Go Title</a>
      </div>
    </header>

    <main>
        <div class="middle">
            <h2 class="middle-h2"> WelCome to Book Store </h2>
        </div>
        
    </main>
</body>
</html>